.mobile-menu{
    display: flex;
    align-items: center;
    background-color: #B9B9BA;
    height: 30px;
    padding-left: 0.5rem;
}

.btn-main-nav{
    border: none;
    cursor: pointer;
    padding: 0;
}

.logo{
    width: 20px;
    height: 20px;
}

.open-icon, .close-icon {
    width: 30px;
    height: 30px;
    padding: 0;
}

.open-icon img, .close-icon img {
    width: 100%;
    height: 100%;
}

.hamburger-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    z-index: 1011;
    position: absolute;
    top: 1px;
}

/* ==================================================
==================MEDIA-QUERY-SECTION================
================================================== */

@media (min-width: 48em) {

    .mobile-menu{
        height: 50px;
    }

    .logo{
        width: 40px;
        height: 40px;
    }

    .open-icon, .close-icon {
        width: 50px;
        height: 50px;
    }

    .hamburger-icon {
        width: 50px;
        height: 50px;
    }

}

@media (min-width: 64em) {

    .logo{
        margin-left: 10px;
    }

}