.project-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 10px;
    color: white;
}

.project-page {
    max-width: 1200px;
    margin: 0 auto;
}

.project-container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    /* border: 1px solid rgb(198, 198, 198);
    background-color: rgb(198, 198, 198); */
}

.project-header-image {
    max-width: 600px;
    max-height: 400px;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 1rem;
}

.link-box {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.link-to {
    display: flex;
    flex-direction: row;
}

.project-header {
    display: flex;
    flex-direction: column;
}

.project-header h2 {
    font-size: 2.3rem;
    margin-top: 2rem;
}

.project-header h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0.2rem 0;
    color: hsl(0, 0%, 90%);
}

.project-header h4 {
    font-size: 1rem;
    text-transform: uppercase;
    color: hsl(0, 0%, 90%);
}

.project-content p {
    font-size: 15px;
    line-height: 20px;
    margin-top: 20px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.accordion-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1000px;
}

.accordion-box h2 {
    font-size: 23px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 0.5rem;
}

.accordion-buttons {
    display: flex;
    justify-content: center;
    width: 100%; /* 너비를 100%로 설정 */
    max-width: 1000px; /* 최대 너비 설정 */
}

.accordion-button {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 0.5rem;
    flex: 1; /* 버튼이 동일한 비율로 커지도록 설정 */
    text-align: center;
    transition: 0.4s;
    font-weight: bold;
}

.accordion-button.active {
    background-color: white;
    color: #434343;
}

.accordion-content {
    width: 100%;
    max-width: 1000px; /* 최대 너비 설정 */
    margin-top: 0;
}

.accordion-content p {
    padding-top: 1rem;
}

.panel {
    padding: 1rem 0.5rem;
    color: #434343;
    background-color: white;
    width: 100%;
    max-width: 1000px; /* 최대 너비 설정 */
    display: none;
    overflow: hidden;
    margin-bottom: 2rem;
}

/* Additional styles for lists */
.panel ul li {
    list-style-type: disc;
    margin-left: 30px; 
}

.showing-box {
    display: flex;
    position: relative;
    flex-direction: column;
}

.visible-box h2 {
    font-size: 2rem;
    margin: 1rem 0;
    text-align: center;
}

.project-image {
    border: 1px solid white;
}

@media (min-width: 768px) {

    .link-box {
        margin-right: 4.6rem;
    }

    .project-header {
        margin-left: 5rem;
    }

    .project-header h2 {
        font-size: 3rem;
    }
    
    .project-header h3 {
        font-size: 2rem;
    }

    .project-header h4 {
        font-size: 1.3rem;
    }
    
    .project-content p {
        font-size: 20px;
        line-height: 20px;
        margin: 20px 75px 0 75px;
    }

    .accordion-box h2 {
        font-size: 2rem;
    }

}

@media (min-width: 1024px) {

    .project-wrapper {
        
    }

    .project-header-image {
        width: 500px;
        height: 400px;
    }

    .link-box {
        margin-right: 5.7rem;
    }

    .project-header {
        margin-left: 6rem;
    }

    .project-content p {
        font-size: 20px;
        line-height: 20px;
        margin: 10px 90px;
    }

    .project-container {
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }

    .accordion-box h2 {
        font-size: 2.5rem;
    }

    .showing-box {
        display: flex;
        flex-direction: row;
        gap: 5rem;
    }

    .visible-box {
        max-width: 400px;
        max-height: 400px;
    }

    .divide-bar {
        display: block;
    }

}