.project-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 10px;
    color: white;
}

.project-container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.project-header-image {
    max-width: 600px;
    width: 100%;
    height: auto;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 2rem;
}

.link-box {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.link-to {
    display: flex;
    flex-direction: row;
}

.project-content {
    display: flex;
    flex-direction: column;
}

.project-content h2 {
    font-size: 2.3rem;
    margin-top: 2rem;
}

.project-content h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0.2rem 0;
}

.project-content h4 {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.project-content p {
    font-size: 15px;
    line-height: 20px;
    margin: 5px 0;
}



/* Style the buttons that are used to open and close the accordion panel */

.accordion-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center; /* 가운데 정렬 */
}

.accordion-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1000px;
}

.accordion-box h2 {
    font-size: 23px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 0;
    padding-top: 0.5rem;
}

.accordion-buttons {
    display: flex;
    justify-content: center;
    width: 100%; /* 너비를 100%로 설정 */
    max-width: 1000px; /* 최대 너비 설정 */
}

.accordion-button {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 0.5rem;
    flex: 1; /* 버튼이 동일한 비율로 커지도록 설정 */
    text-align: center;
    transition: 0.4s;
    font-weight: bold;
    margin: 0 5px; /* 버튼 사이의 간격 추가 */
}

.accordion-button.active {
    background-color: white;
    color: #434343;
}

.accordion-content {
    width: 100%;
    max-width: 1000px; /* 최대 너비 설정 */
    margin-top: 0;
}

.accordion-content p {
    padding-top: 1rem;
}

.panel {
    padding: 1rem 0.5rem;
    color: #434343;
    background-color: white;
    width: 100%;
    max-width: 1000px; /* 최대 너비 설정 */
    display: none;
    overflow: hidden;
    margin-bottom: 2rem;
}

/* Additional styles for lists */
.panel ul li {
    list-style-type: disc;
    margin-left: 20px; 
}

.showing-box {
    display: flex;
    position: relative;
    flex-direction: column;
}

.visible-box h2 {
    font-size: 2rem;
    margin-top: 0.5rem;
    text-align: center;
}


/* @media (min-width: 768px) {

    .project-container {
        flex-direction: row;
        justify-content: space-between;
    }

} */