/* ========================================
============== WORK-SECTION ==============
======================================== */

.works-section {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}

.work {
    display: block;
    position: relative;
    width: 100%;
    height: 25rem;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.work-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

.work-text {
    position: absolute;
    top: 75%;
    left: 0;
    width: 100%;
    text-align: center;
}

.work-text h2 {
    text-transform: uppercase;
    margin: 1rem 0 0.5rem;
}

.work-text p {
    font-family: var(--body-font);
    text-transform: uppercase;
    margin-top: 0.625rem;
    font-weight: bold;
}

.work01 {
    background-image: url(/jv-background.png);
}

.work02 {
    background-image: url(/mv-background.jpg);
}

.work03 {
    background-image: url(/cap-background.jpg);
}

.work04 {
    background-image: url(/wallhaven.png);
}

.work01,
.work02,
.work03,
.work04 {
    background-color: hsl(25, 25%, 25%);
}

.work-inner {
    padding-top: 2.1875rem;
    position: absolute;
    top: 0;
    left: 0;
    margin: 1.5625rem auto;
}

.work-inner-wide {
    font-size: 2rem;
    text-transform: uppercase;
    position: relative;
    margin: 0 auto;
    padding: 0 0.625rem;
    max-width: 77.5rem;
}

.work-inner-wide h2 {
    font-family: var(--sub-heading-font);
    font-weight: 800;
}

/* ==================================================
================= MEDIA-QUERY-SECTION ===============
=====================  768px  ==================== */

@media (min-width: 48em) {
    .work-inner {
        position: relative;
        width: 100%;
    }

    .work-inner-wide h2 {
        font-size: 2.5rem;
        text-align: center;
    }
}

/* ==================================================
================= MEDIA-QUERY-SECTION ===============
=====================  1024px  ==================== */

@media (min-width: 64em) {
    .work-inner-wide h2 {
        font-size: 3rem;
        text-align: center;
    }

    #home-works {
        height: 37.5rem;
        text-align: center;
    }

    .work {
        position: absolute;
        width: 25%;
        height: 37.5rem;
        background-position: center center;
    }

    .work01 { top: 0; left: 0; }
    .work02 { top: 0; left: 25%; }
    .work03 { top: 0; left: 50%; }
    .work04 { top: 0; left: 75%; }
}