/* ========================================
============= CURSOR-STYLE ================
======================================== */

.cursor {
    pointer-events: none;
    position: fixed;
    display: block;
    border-radius: 0;
    mix-blend-mode: difference;
    top: 0;
    left: 0;
    z-index: 10000;
}

.circle {
    position: absolute;
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    background-color: #fff;
}