/* ========================================
============= INTRO SECTION ===============
======================================== */

.wrapper {
    font-family: 'Black Han Sans', sans-serif;
    color: var(--main-font-color);
}

.intro-section {
    padding-bottom: 3.125rem;
    margin-left: 0.625rem;
}

.role p {
    font-size: 0.9375rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    font-family: var(--body-font);
}

.icons {
    position: absolute;
    top: 3.8rem;
    right: 1rem;
    display: flex;
    align-items: center;
}

.role .front-end {
    margin-top: 2rem;
    position: relative;
    padding-top: 0.5rem;
}

.role .front-end::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4.3rem;
    height: 0.125rem;
    background-color: var(--home-bg-color);
}

.typing-section {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 1.3rem;
}

.typing-container {
    width: 100%;
    line-height: 1.1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.typing-group-one {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;
}

.typing-group-two {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
}

.typing-effect-first {
    margin-bottom: 0.5rem;
}

.typing-effect-second {
    margin-left: 0.5rem;
}

.typing-effect02 {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.typing-effect::after,
.typing-effect-first::after,
.typing-effect-second::after,
.typing-effect-third::after,
.typing-effect-fourth::after,
.typing-effect-fifth::after {
    content: '';
    display: inline-block;
    width: 0.3125rem;
    height: 1.2rem;
    background-color: var(--home-bg-color);
    animation: blink 1s infinite;
    margin-left: 0.3rem;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.book-image,
.notebook-image {
    display: flex;
    flex-direction: row;
}

.book-image img,
.notebook-image img {
    animation: rocking 3s infinite ease-in-out;
    transform-origin: center top;
}

.book-image img {
    width: 4.375rem;
    height: 5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.notebook-image img {
    width: 100%;
    max-width: 5.625rem;
    height: auto;
    margin-left: 0.5rem;
}

@keyframes rocking {
    0%, 100% { transform: rotate(0deg); }
    25% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
    75% { transform: rotate(-5deg); }
  }

/* ========================================
========== HOME-ABOUT-SECTION =============
======================================== */

.about-section {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    line-height: 1.3;
    color: var(--second-font-color);
}

.about-section .section-inner {
    background-color: var(--home-bg-color);
    margin: 0 auto 0 auto;
    padding: 1.25rem 0;
}

.section-inner {
    position: relative;
    width: 100%;
}

.section-inner h2 {
    font-size: 2rem;
    padding-left: 0.625rem;
}

.about-section .angle-top, .about-section .angle-bottom {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1.875rem;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 100%;
    z-index: 1000;
  }
  
  .about-section .angle-top {
    top: -1.8125rem;
    background-image: url(/angle_top_mobile.png);
  }
  
  .about-section .angle-bottom {
    bottom: -1.8125rem;
    background-image: url(/angle_bottom_mobile.png);
  }

.inner-wide {
    position: relative;
    margin: 0 auto;
    padding: 0 0.625rem;
    text-align: left;
}

.about-link-container {
    text-align: right;
    margin-top: 0.625rem;
}

.about-link {
    font-size: 1rem;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: underline;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

.about-link:hover {
    color: var(--navi-bg-color);
}

/* ========================================
========== HOME-WORKS-SECTION =============
======================================== */

.works-section {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}

.work {
    display: block;
    position: relative;
    /* top: auto;
    left: auto; */
    width: 100%;
    height: 25rem;
    background-position: top center;
    background-size: cover;
}

.work-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

.work-text {
    position: absolute;
    top: 75%;
    left: 0;
    width: 100%;
    text-align: center;
}

.work-text h2 {
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.work-text p {
    font-family: var(--body-font);
    text-align: center;
    text-transform: uppercase;
    margin-top: 0.625rem;
    font-weight: bold;
}

#home-works .work-inner {
    padding-top: 2.1875rem;
    position: absolute;
    top: 0;
    left: 0;
}

.work-inner-wide {
    font-size: 2rem;
    text-transform: uppercase;
    position: relative;
    margin: 0 auto;
    padding: 0 0.625rem;
    max-width: 77.5rem;
}

.work01 {
    background-image: url(/jv-background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.work02 {
    background-image: url(/mv-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.work03 {
    background-image: url(/cap-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.work04 {
    background-image: url(/wallhaven.png);
    background-size: cover;
}

/* ========================================
========== HOME-SKILLS-SECTION ============
======================================== */

.skill-section {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0;
    line-height: 1.3rem;
    color: var(--second-font-color);
}

.skill-section-inner {
    position: relative;
    width: 100%;
    background-color: var(--home-bg-color);
}

.skill-section .angle-top {
    display: block;
    position: absolute;
    top: -29px;
    left: 0;
    width: 100%;
    height: 1.875rem;
    background-image: url(/angle_top_mobile.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 100%;
}

.skill-inner-wide {
    position: relative;
    padding: 0 0.625rem;
    text-align: left;
}

.skill-inner-wide h2 {
    font-size: 2rem;
}

.skill-section .angle-bottom {
    display: block;
    position: absolute;
    bottom: -29px;
    left: 0;
    width: 100%;
    height: 1.875rem;
    background-image: url(/angle_bottom_mobile.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 100%;
    z-index: 1;
}

.skill-inner-wide h2 {
    margin-bottom: 1rem;
}

.skill-inner-wide h3 {
    position: relative;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 0.3rem;
    margin-bottom: 0;
    padding-left: 10px;
}

.skill-inner-wide p {
    margin-top: 0.5rem;
    margin-left: 0.5rem;

}

.skill-inner-wide h3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: var(--navi-bg-color);
}

/* ==================================================
================= MEDIA-QUERY-SECTION ===============
=====================  768px  ==================== */

@media (min-width: 48em) {

    .icons {
        top: 5rem;
        right: 2rem;
    }

    .role p {
        font-size: 1.5625rem;
    }

    .role .front-end::before {
        width: 7rem;
    }

    .greeting {
        font-size: 1.5rem;
    }

    .intro-section {
        padding-bottom: 6.25rem;
    }

    .typing-container {
        font-size: 3rem;
    }

    .typing-text01 {
        margin-left: 3.125rem;
        margin-bottom: 0.625rem;
    }

    .notebook-image img {
        max-width: 10rem;
        margin-left: 4.375rem;
    }

    .book-image img {
        width: 10rem;
        height: 11.25rem;
        margin-left: 3rem;
        margin-top: 2rem;
    }

    .typing-effect-second {
        margin-left: 6.25rem;
    }

    .typing-effect-third {
        margin-left: 6rem;
    }

    .typing-effect-fourth {
        margin-left: 3rem;
    }

    .typing-effect-fifth {
        margin-left: 7rem;
    }

    .typing-effect::after,
    .typing-effect-first::after,
    .typing-effect-second::after,
    .typing-effect-third::after,
    .typing-effect-fourth::after,
    .typing-effect-fifth::after {
        height: 2.4rem;
    }

    .about-link-container {
        margin-right: 0.625rem;
    }

    .work-inner {
        position: relative;
        width: 100%;
    }

    .work-inner-wide h2 {
        font-size: 2.5rem;
        text-align: center;
    }
}

/* ==================================================
================= MEDIA-QUERY-SECTION ===============
=====================  1024px  =================== */

@media (min-width: 64rem) {

    .icons {
        position: absolute;
        top: 6.8rem;
        right: 2.5rem;
    }

    .greeting {
        font-size: 2rem;
        margin: 1.5625rem 0 1.5625rem 0.625rem;
    }

    .notebook-image img {
        max-width: 14.375rem;
        margin-left: 9.375rem;
    }

    .typing-container {
        font-size: 4rem;
    }

    .notebook-image img {
        max-width: 13.75rem;
        margin-left: 5.625rem;
    }

    .book-image img {
        width: 15.625rem;
        height: 14.375rem;
        margin-left: 3rem;
        margin-top: 2rem;
    }

    .typing-effect::after,
    .typing-effect-first::after,
    .typing-effect-second::after,
    .typing-effect-third::after,
    .typing-effect-fourth::after,
    .typing-effect-fifth::after {
        height: 3.1rem;
    }

    .typing-effect-third {
        margin-left: 6rem;
    }

    .typing-effect-fourth {
        margin-left: 5rem;
    }

    .typing-effect-fifth {
        margin-left: 10rem;
    }

    .role {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
        margin-left: 0.625rem;
    }

    .role p {
        font-size: 2.5rem;
    }

    .role .front-end {
        margin-top: 1rem;
    }

    .role .front-end::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 11rem;
        height: 0.125rem;
        background-color: var(--home-bg-color);
    }

    /* ===== MEDIA-QUREY-ABOUT-SECTION ====== */

    .about-section .section-inner {
        padding-bottom: 2rem;
    }

    .section-inner h2 {
        font-size: 3rem;
        margin-left: 0.625rem;
    }

    .inner-wide {
        padding-left: 20rem;
    }

    .inner-wide p {
        font-size: 1.625rem;
        line-height: 1.5;
    }

    .gif {
        cursor: grab;
    }

    .gif-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 17.5rem;
        height: 18.75rem;
        display: none;
        background-size: cover;
        background-position: center;
        margin-top: 0.3125rem;
        margin-left: 1.25rem;
        z-index: 1000;
    }

    .about-section .angle-top {
        background-image: url(/angle_top.png);
    }

    .about-section .angle-bottom {
        background-image: url(/angle_bottom.png);
    }

    .about-link-container {
        margin-top: 0.625rem;
        margin-right: 0.625rem;
    }

    .about-link {
        font-size: 1.5rem;
    }

    /* =====MEDIA-QUREY-SKILL-SECTION======= */

    .skill-section .skill-section-inner {
        padding: 1rem 0;
    }

    .skill-section-inner h2 {
        font-size: 3rem;
        margin-left: 0.625rem;
    }

    .skill-section-inner h3 {
        font-size: 2rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        margin-left: 0.625rem;
    }

    .skill-section-inner p {
        font-size: 1.625rem;
        margin-left: 1.25rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        line-height: 1.3;
    }

    .skill-section .angle-top {
        background-image: url(/angle_top.png);
    }

    .skill-section .angle-bottom {
        background-image: url(/angle_bottom.png);
    }

    /* =====MEDIA-QUREY-WORK-SECTION======= */

    .work-inner-wide h2 {
        font-size: 3rem;
        text-align: center;
    }

    #home-works {
        height: 37.5rem;
        margin: 0;
        text-align: center;
    }

    .work {
        position: absolute;
        width: 25%;
        height: 37.5rem;
        background-position: center center;
        background-size: cover;
    }

    .work01 {
        top: 0;
        left: 0;
        background-color: hsl(25, 25, 25, 1);
    }

    .work02 {
        top: 0;
        left: 25%;
        background-color: hsl(25, 25, 25, 1);
    }

    .work03 {
        top: 0;
        left: 50%;
        background-color: hsl(25, 25, 25, 1);
    }

    .work04 {
        top: 0;
        left: 75%;
        background-color: hsl(25, 25, 25, 1);
    }

    .work-inner {
        margin: 1.5625rem auto;
    }

}

/* ==================================================
================= MEDIA-QUERY-SECTION ===============
=====================  1400px  =================== */

@media (min-width: 87.5rem) {

    .typing-container {
        font-size: 5rem;
    }

    .typing-effect::after,
    .typing-effect-first::after,
    .typing-effect-second::after,
    .typing-effect-third::after,
    .typing-effect-fourth::after,
    .typing-effect-fifth::after {
        height: 3.8rem;
    }
}

/* ==================================================
================= MEDIA-QUERY-SECTION ===============
=====================  1600px  =================== */

@media (min-width: 100rem) {

    .typing-container {
        margin: 0 5rem;
    }

    .notebook-image img {
        width: 18.75rem;
        height: auto;
    }

    .typing-effect-first,
    .typing-effect-second,
    .typing-effect-third,
    .typing-effect-fourth {
        margin-bottom: 1.5rem;
    }
}