.wrapper {
    font-family: 'Black Han Sans', 'sans-serif';
    color: #ffffff;
}

.intro-section {
    padding-bottom: 50px;
    margin-left: 0.625rem;
}

.role p {
    font-size: 15px;
    font-weight: bold;
    font-family: 'Rajdhani', 'sans-serif';
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.icons {
    position: absolute;
    top: 3.8rem;
    right: 1rem;
    display: flex;
    align-items: center;
}

.role .front-end {
    margin-top: 2rem;
    position: relative;
    padding-top: 0.5rem;
}

.role .front-end::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4.3rem;
    height: 2px;
    background-color: #fff;
}

.typing-section {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 1.3rem;
}

.typing-container {
    width: 100%;
    line-height: 1.1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.typing-group-one {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;
}

.typing-effect-first {
    margin-bottom: 0.5rem;
}

.typing-effect-second {
    margin-left: 0.5rem;
}

.typing-effect02 {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.typing-group-two {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
}

.typing-effect-fourth {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.typing-effect-fifth {
    margin-left: 2rem;
}

.book-image {
    display: flex;
    flex-direction: row;
}

.book-image img {
    width: 70px;
    height: 80px;
    animation: rocking 3s infinite ease-in-out;
    transform-origin: center top;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.notebook-image img {
    width: 100%;
    max-width: 90px;
    height: auto;
    animation: rocking 3s infinite ease-in-out;
    transform-origin: center top;
    margin-left: 0.5rem;
}

@keyframes rocking {
    0%,
    100% {transform: rotate(0deg);}
    25% {transform: rotate(-5deg);}
    50% {transform: rotate(5deg);}
    75% {transform: rotate(-5deg);}
}

.typing-effect::after,
.typing-effect-first::after,
.typing-effect-second::after,
.typing-effect-third::after,
.typing-effect-fourth::after,
.typing-effect-fifth::after {
    content: '';
    display: inline-block;
    width: 5px;
    height: 1.2rem;
    background-color: #ffffff;
    animation: blink 1s infinite;
    margin-left: 0.3rem;
}

@keyframes blink {
    0%,
    100% {opacity: 1;}
    50% {opacity: 0;}
}


/* ========================================
===========HOME-ABOUT-SECTION==============
======================================== */

.about-section {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lato', 'sans-serif';
    line-height: 1.3;
    color: #434343;
}

.about-section .section-inner {
    background-color: white;
    margin: 0 auto 0 auto;
    padding: 20px 0;
}

.section-inner {
    position: relative;
    width: 100%;
}

.section-inner h2 {
    font-size: 2rem;
    padding-left: 10px;
}

.about-section .angle-top {
    display: block;
    position: absolute;
    top: -29px;
    left: 0;
    width: 100%;
    height: 30px;
    background-image: url(/angle_top_mobile.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 100%;
}

.inner-wide {
    position: relative;
    margin: 0 auto;
    padding: 0 10px;
    text-align: left;
}

.about-section .angle-bottom {
    display: block;
    position: absolute;
    bottom: -29px;
    left: 0;
    width: 100%;
    height: 30px;
    background-image: url(/angle_bottom_mobile.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 100%;
    z-index: 1000;
}

.about-link-container {
    text-align: right;
    margin-top: 10px;
}

.about-link {
    font-size: 1rem;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: underline;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

.about-link:hover {
    color: #FF5F40;
}

/* ========================================
===========HOME-WORKS-SECTION==============
======================================== */

.works-section {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}

.work {
    display: block;
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    height: 400px;
    background-position: top center;
    background-size: cover;
}

.work-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

.work-text {
    position: absolute;
    top: 75%;
    left: 0;
    width: 100%;
    text-align: center;
}

.work-text h2 {
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.work-text p {
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    font-weight: bold;
}

#home-works .work-inner {
    padding-top: 35px;
    position: absolute;
    top: 0;
    left: 0;
}

.work-inner-wide {
    font-size: 2rem;
    text-transform: uppercase;
    position: relative;
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1240px;
}

.work01 {
    background-color: black;
    background-image: url(/jv-background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.work02 {
    background-color: black;
    background-image: url(/mv-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.work03 {
    background-color: black;
    background-image: url(/cap-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.work04 {
    background-color: black;
    background-image: url(/wallhaven.png);
    background-size: cover;
}

/* ========================================
===========HOME-SKILLS-SECTION==============
======================================== */

.skill-section {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0;
    font-family: 'Lato', 'sans-serif';
    line-height: 1.3rem;
    color: #434343;
}

.skill-section .skill-section-inner {
    background-color: white;
}

.skill-section-inner {
    position: relative;
    width: 100%;
}

.skill-section .angle-top {
    display: block;
    position: absolute;
    top: -29px;
    left: 0;
    width: 100%;
    height: 30px;
    background-image: url(/angle_top_mobile.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 100%;
    /* transform: scaleX(-1); */
}

.skill-inner-wide {
    position: relative;
    padding: 0 10px;
    text-align: left;
}

.skill-inner-wide h2 {
    font-size: 2rem;
}

.skill-section .angle-bottom {
    display: block;
    position: absolute;
    bottom: -29px;
    left: 0;
    width: 100%;
    height: 30px;
    background-image: url(/angle_bottom_mobile.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 100%;
    /* transform: scaleX(-1); */
    z-index: 1;
}

.skill-inner-wide h2 {
    margin-bottom: 1rem;
}

.skill-inner-wide h3 {
    position: relative;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 0.3rem;
    margin-bottom: 0;
    padding-left: 10px;
}

.skill-inner-wide p {
    margin-top: 0.5rem;
    margin-left: 0.5rem;

}

.skill-inner-wide h3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: #FF5F40;
}

/* ==================================================
==================MEDIA-QUERY-SECTION================
================================================== */

@media (min-width: 48em) {

    .icons {
        position: absolute;
        top: 5rem;
        right: 2rem;
    }

    .role p {
        font-size: 25px;
    }

    .role .front-end::before {
        width: 7rem;
    }

    .greeting {
        font-size: 1.5rem;
    }

    .intro-section {
        padding-bottom: 100px;
    }

    .typing-container {
        font-size: 3rem;
    }

    .typing-text01 {
        margin-left: 50px;
        margin-bottom: 10px;
    }

    .notebook-image img {
        max-width: 160px;
        margin-left: 70px;
    }

    .book-image img {
        width: 160px;
        height: 180px;
        margin-left: 3rem;
        margin-top: 2rem;
    }

    .typing-effect-second {
        margin-left: 6.25rem;
    }

    .typing-effect-third {
        margin-left: 6rem;
    }

    .typing-effect-fourth {
        margin-left: 3rem;
    }

    .typing-effect-fifth {
        margin-left: 7rem;
    }

    .typing-effect::after,
    .typing-effect-first::after,
    .typing-effect-second::after,
    .typing-effect-third::after,
    .typing-effect-fourth::after,
    .typing-effect-fifth::after {
        height: 2.4rem;
    }
    
    .about-link-container {
        margin-right: 10px;
    }

    .work-inner {
        position: relative;
        width: 100%;
    }

    .work-inner-wide h2 {
        font-size: 2.5rem;
        text-align: center;
    }
}

@media (min-width: 64rem) {

    .icons {
        position: absolute;
        top: 6.8rem;
        right: 2.5rem;
    }

    .greeting {
        font-size: 2rem;
        margin: 25px 0;
        margin-left: 10px;
    }

    .notebook-image img {
        max-width: 230px;
        margin-left: 150px;
    }

    .typing-container {
        font-size: 4rem;
    }

    .notebook-image img {
        max-width: 220px;
        margin-left: 90px;
    }

    .book-image img {
        width: 250px;
        height: 230px;
        margin-left: 3rem;
        margin-top: 2rem;
    }

    .typing-effect::after,
    .typing-effect-first::after,
    .typing-effect-second::after,
    .typing-effect-third::after,
    .typing-effect-fourth::after,
    .typing-effect-fifth::after {
        height: 3.1rem;
    }

    .typing-effect-third {
        margin-left: 6rem;
    }

    .typing-effect-fourth {
        margin-left: 5rem;
    }

    .typing-effect-fifth {
        margin-left: 10rem;
    }

    .role {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
        margin-left: 10px;
    }

    .role p {
        font-size: 40px;
    }

    .role .front-end {
        margin-top: 1rem;
    }

    .role .front-end::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 11rem;
        height: 2px;
        background-color: #fff;
    }

    /* =====MEDIA-QUREY-ABOUT-SECTION======= */

    .about-section .section-inner {
        padding-bottom: 2rem;
    }

    .section-inner h2 {
        font-size: 3rem;
        margin-left: 10px;
    }

    .inner-wide {
        padding-left: 320px;
    }

    .inner-wide p {
        font-size: 26px;
        line-height: 1.5;
    }

    .gif {
        cursor: grab;
    }

    .gif-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 280px;
        height: 300px;
        display: none;
        background-size: cover;
        background-position: center;
        margin-top: 5px;
        margin-left: 20px;
        z-index: 1000;
    }

    .about-section .angle-top {
        background-image: url(/angle_top.png);
    }

    .about-section .angle-bottom {
        background-image: url(/angle_bottom.png);
        z-index: 1000;
    }

    .about-link-container {
        margin-top: 10px;
        margin-right: 10px;
    }

    .about-link {
        font-size: 1.5rem;
    }

    /* =====MEDIA-QUREY-SKILL-SECTION======= */

    .skill-section .skill-section-inner {
        padding: 1rem 0;
    }

    .skill-section-inner h2 {
        font-size: 3rem;
        margin-left: 10px;
    }

    .skill-section-inner h3 {
        font-size: 2rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        margin-left: 10px;
    }

    .skill-section-inner p {
        font-size: 1.625rem;
        margin-left: 20px;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        line-height: 1.3;
    }

    .skill-section .angle-top {
        background-image: url(/angle_top.png);
    }

    .skill-section .angle-bottom {
        background-image: url(/angle_bottom.png);
    }

    /* =====MEDIA-QUREY-WORK-SECTION======= */

    .work-inner-wide h2 {
        font-size: 3rem;
        text-align: center;
    }

    #home-works {
        height: 600px;
        margin: 0;
        text-align: center;
    }

    .work {
        position: absolute;
        width: 25%;
        height: 600px;
        background-position: center center;
        background-size: cover;
    }

    .work01 {
        top: 0;
        left: 0;
        background-color: hsl(25, 25, 25, 1);
    }

    .work02 {
        top: 0;
        left: 25%;
        background-color: hsl(25, 25, 25, 1);
    }

    .work03 {
        top: 0;
        left: 50%;
        background-color: hsl(25, 25, 25, 1);
    }

    .work04 {
        top: 0;
        left: 75%;
        background-color: hsl(25, 25, 25, 1);
    }

    .work-inner {
        margin: 25px auto 25px auto;
    }

}

@media (min-width: 87.5rem) {

    .typing-container {
        font-size: 5rem;
    }

    .typing-effect::after,
    .typing-effect-first::after,
    .typing-effect-second::after,
    .typing-effect-third::after,
    .typing-effect-fourth::after,
    .typing-effect-fifth::after {
        height: 3.8rem;
    }
}

@media (min-width: 100rem) {

    .typing-container {
        margin: 0 5rem;
    }

    .notebook-image img {
        width: 300px;
        height: auto;
    }

    .typing-effect-first,
    .typing-effect-second,
    .typing-effect-third,
    .typing-effect-fourth {
        margin-bottom: 1.5rem;
    }

}