@import "tailwindcss";

/* Custom font-family */

.font-blackHan {
  @apply text-white;
  font-family: 'Black Han Sans', sans-serif;
}

.font-rajdhani {
  @apply text-white;
  font-family: 'Rajdhani', sans-serif;
}

.font-lato {
  @apply text-white text-xl;
  font-family: 'Lato', sans-serif;
}

/* Colour and Font */
:root {
  --navi-bg-color: #FF5F40;
  --main-font-color: #ffffff;
  --second-font-color: #434343;
  --third-font-color: #E8E6D5;
  --navi-hover-color: #E8E6D5;
  --heading-font: "Black Han Sans", serif;
  --button-font: "", serif;
  --body-font: "Lato", serif;
  --second-font: "Rajdhani", serif;
}

/* Base style for body */

body {
  background-image: url('./media/noise-background.jpg');
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Black Han sans', 'sans-serif';
  font-size: 3rem;
  text-transform: uppercase;
}

h2 {
  font-family: 'Black Han sans', 'sans-serif';
  font-size: 2rem;
  text-transform: uppercase;
}

h3 {
  font-family: 'Rajdhani', 'sans-serif';
  font-weight: bold;
}

p {
  font-family: 'Lato', 'sans-serif';
}