@import "tailwindcss";

/* Custom font-family */

.font-blackHan {
  @apply text-white ;
  font-family: 'Black Han Sans', sans-serif;
}

.font-rajdhani {
  @apply text-white;
  font-family: 'Rajdhani', sans-serif;
}

.font-lato {
  @apply text-white text-xl;
  font-family: 'Lato', sans-serif;
}

/* Colours */

:root {
    --main-bg-color: #e5ecea;
    --main-font-black: #292726;
    --main-font-white: #ffffff;
    --hover-blue: #9be3ef;
    --hover-brown: #b5936e;
    --hover-brown-rgb: 165, 132, 115;
    --heading-font: "Syne", serif;
    --button-font: "Source Code Pro", serif;
    --body-font: "Source Code Pro", serif;
  }

/* Base style for body */

body {
  background-image: url('./media/noise-background.jpg');
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Black Han sans', 'sans-serif';
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
}